__pycache__/
build/
alpha/
.cache/
.eggs/
*.egg-info/
.coverage
*.so
.idea/
.vscode/
tests/datasets
datasets/
**/datasets
*.txt
*.xlsx
csrc/fusedmm/*.a
*.html
*.pstats
*.out
results/
tests/results/
.vscode
*.svg
FusedMM_Extended/
*.a
*.o
**/Planetoid/
